<!DOCTYPE html>
<html>
  <head>
    <% include  partials/template/head.ejs %>
  </head>
  <body id="<%= pageID%>">

    <header>
    <% include partials/template/header.ejs %>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="maincontent">


  <% include partials/contents/speakerscontent.ejs %>

          </div>
        </div><!-- primary -->
        <aside class="col-sm-4">

          <% include partials/contents/sidebarsarticle2.ejs %>

        </aside><!-- secondary -->
      </div>
    </div><!-- container -->

  <% include partials/template/jsscripts.js %>

  </body>
</html>
